.ipynb_checkpoints

01-Ham-or-Spam/.ipynb_checkpoints
02-Movie-Reviews/.ipynb_checkpoints
03-Vectorizer-Tuning/.ipynb_checkpoints
04-LDA/.ipynb_checkpoints

Datas:

01-Ham-or-Spam/email
01-Ham-or-Spam/email.csv
01-Ham-or-Spam/email_2.csv

02-Movie-Reviews/rewiews
02-Movie-Reviews/reviews.csv

03-Vectorizer-Tuning/review.csv
03-Vectorizer-Tuning/review_3

04-LDA/data
04-LDA/data_pickle